
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 
}

/* Authentication box styling */
.auth-box {

  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  text-align: center;
  width: 400px;
  max-width: 80%;
}

/* Header styling */
.auth-box h2 {
  font-size: 28px;
  color: #333333;
  margin-bottom: 20px;
}

/* Form input styling */
.auth-box .form-group {
  margin-bottom: 20px;
}

.auth-box .form-group label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
}

.auth-box .form-group input[type="text"],
.auth-box .form-group input[type="email"],
.auth-box .form-group input[type="password"] {
  width: 100%;
  padding: 15px;
  border: 2px solid #e6e6e6;
  border-radius: 8px;
  font-size: 18px;
  color: #333333;
 
  transition: border-color 0.3s ease;
}

.auth-box .form-group input[type="text"]:focus,
.auth-box .form-group input[type="email"]:focus,
.auth-box .form-group input[type="password"]:focus {
  border-color: #007BFF;
}

/* Form button styling */
.auth-box .form-group button[type="submit"] {
  width: 100%;
  padding: 15px;
  background: linear-gradient(to right top, #007BFF, #0056b3);
  color: #5d3c3c;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-box .form-group button[type="submit"]:hover {
  background: linear-gradient(to right top, #0056b3, #004ba3);
}

/* Error message styling */
.auth-box .error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}

/* Additional styles specific to sign-up */
.auth-box .signup-info {
  text-align: center;
  margin-top: 20px;
  color: #333333;
}

/* Additional styles specific to sign-in */
.auth-box .signin-forgot-password {
  text-align: right;
  margin-top: 10px;
  font-size: 16px;
}

.auth-box .signin-forgot-password a {
  color: #007BFF;
  text-decoration: none;
}

.auth-box .signin-forgot-password a:hover {
  text-decoration: underline;
}
.password-input {
  position: relative;
}

/* Style for the eye icon */
.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #007BFF; /* Change the eye icon color to blue */
  font-size: 20px; /* Adjust the eye icon size */
  transition: color 0.3s ease; /* Smooth color transition on hover */

  /* Add a hover effect */
  &:hover {
    color: #0056b3; /* Change the eye icon color on hover */
  }
}
/* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
  .auth-box {
    width: 90%; /* Adjust the width for smaller screens */
  }
}
