/* CourseList.css */
.course-list {
  padding: 20px;
  margin-bottom: 40px;
}

.course-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course-card {
  width: calc(33.33% - 20px); /* Adjust the width as per your layout */
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;

  /* Specify the max width for responsive design */
  @media screen and (max-width: 768px) {
    width: 100%; /* Stack cards vertically on small screens */
  }

  &:hover {
    transform: scale(1.05);
  }
}

.course-image {
  height: 200px; /* Set the desired height for your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  overflow: hidden;
}

/* Add a gradient overlay with different colors */
.course-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(10, 35, 67, 0.6), rgba(34, 45, 99, 0.6)); /* Gradient overlay */
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Show the overlay on hover */
.course-card:hover .course-image::before {
  opacity: 1;
}

/* Course Info Container */
.course-info {
  padding: 20px;
  position: relative;
  z-index: 2;
  color: #fff;
  transition: color 0.3s ease;
  text-align: center; /* Center align the text */
}

/* Title styles */
h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(62, 9, 219, 0.5); /* Add text shadow for emphasis */
}
h3 {
  font-size: 24px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for emphasis */
}

/* Description styles */
p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #f0f0f0; /* Light gray description text */
}

/* Link styles */
a {
  color: #f9a825; /* Link color */
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold; /* Make links bold */
}

/* Change link color on hover */
.course-card:hover a {
  color: #d48b14; /* Change to your desired link hover color */
}


.close-button {
  background-color: #f44336; /* Red background color */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 10px; /* Adjust top position as needed */
  right: 10px; /* Adjust right position as needed */
  z-index: 2; /* Place the button above the form */
}

.close-button:hover {
  background-color: #ff0000; /* Darker red on hover */
}

/* Add margin to the form container */
.sign-in-sign-up-container {
  margin-top: 20px; /* Adjust top margin as needed */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  overflow: hidden;
  position: relative;
}