/* ResetPassword.css */

/* Base styles for the ResetPassword component */
.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    width: 100%;
  }
  
  button.reset-button {
    padding: 12px 18px;
    background: linear-gradient(90deg, #4c882e, #33ff00);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.1s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  button.reset-button:hover {
    background: linear-gradient(90deg, #0d7567, #153a58);
    transform: scale(1.02);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  /* Add these styles for a focus effect */
  button.reset-button:focus {
    background: linear-gradient(90deg, #485c00, #d4ff00);
    transform: scale(1.02);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  /* Message styles */
  .message {
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
  }
  
  .message.success {
    background-color: #4caf50;
    color: #fff;
  }
  
  .message.error {
    background-color: #f44336;
    color: #fff;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    /* Adjust styles for screens with a maximum width of 768px */
    h2 {
      font-size: 20px;
    }
  
    input {
      padding: 10px;
      font-size: 14px;
    }
  
    button.reset-button {
      padding: 10px 15px;
      font-size: 16px;
    }
  }
  .toggle-password-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #777;
  }
  
  /* Adjust the input field to make space for the toggle button */
  .input-container {
    position: relative;
  }
  
  /* Styles for password visibility */
  input[type="password"] {
    padding-right: 40px; /* Ensure space for the toggle button */
  }
  
  
  
  
  
  
  
  /* Additional styling for smaller screens or specific design choices can be added here */
  