/* SubHeader.css */

/* Container for the entire SubHeader */
.subheader {
  background-color: #c6bf7f;
  padding: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

/* Dropdown container */

.dropdown-container {
  position: relative;
  display: inline-block;
  width: auto; /* Adjust the width as needed */
}

/* Dropdown label */
.dropdown-label {
  position: absolute;
  top: -15px;
  left: 10px;
  background-color: #ffffff;
  padding: 0 5px;
  font-size: 14px;
  color: #333;
}

.courses-dropdown {
  padding: 10px;
  background-color: #85a6a8;
  color: #333;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Fill the container width */
  max-width: 200px; /* Limit the width of the select */
}

/* Dropdown options */
.dropdown-option {
  padding: 10px;
  background-color: #757289;
  color: #333;
  font-size: 12px;
  display: flex;
  transition: background-color 0.2s ease;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: 120px; /* Limit the width of options */
}



/* Disabled option (placeholder) */
.dropdown-option[disabled] {
  color: #aaa;
}

/* Styling for selected option */
.courses-dropdown option:checked {
  background-color: #143c14;
  color: #fff;
}

/* Custom arrow indicator */
.courses-dropdown::-ms-expand {
  display: none;
}

.courses-dropdown::after {
  content: "\f107"; /* Unicode for down arrow icon */
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #333;
  font-size: 12px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .courses-dropdown {
    max-width: 100%; /* Allow full width on smaller screens */
  }

  .dropdown-option {
    max-width: 100%; /* Allow full width on smaller screens */
  }
}
